<h1>Edit <%= @brand.name%></h1>

<%= conditional_errors(@brand) %>

<div class="new-form">
    <%= form_with(model: @brand) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <div class="form-button"><%= f.submit %></div>
    <% end %>
</div>