<% if @brand.errors.any? %>
    <div class="error-explanations">
        <h2><%=pluralize(@brand.errors.count, "Error") %> prevented the brand from being created:</h2>
        <ul class="error-details">
            <% @brand.errors.full_messages.each do |sentence| %>
                <li class="error-message"><%= sentence %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="new-form">
    <%= form_with(model: @brand) do |f| %>
        <header>
            <h2>Create a new brand</h2>
        </header>
        <div class="form-input">
            <%= f.label :name %>
            <%= f.text_field :name%>
        </div>
        <div class="form-input">
            <%= f.label :year_founded %>
            <%= f.number_field :year_founded %>
        </div>
        <div class="form-input">
            <%= f.label :mission %>
            <%= f.text_area :mission %>
        </div>

        <div class="form-button"><%= f.submit %></div>

    <% end %>
</div>