<h1><%= @brand.name %></h1>

<h4>Founded in: <%= @brand.year_founded %></h4>
<p>Mission: <%= @brand.mission %></p>

<%= link_to "Back", :back %>
<%= link_to "Brands", brands_path %>
<%= link_to "Edit", edit_brand_path(@brand) %>
<%= link_to "Delete", @brand, method: "delete", data: {confirm: "Are you sure???"}  %>

