<div class="form-input">
    <%= form_builder.label :name %>
    <%= form_builder.text_field :name%>
</div>
<div class="form-input">
    <%= form_builder.label :availability %>
    <%= form_builder.select :availability, options_for_select([ "true", "false"]), include_blank: "Select an availability"%>
</div>
<div class="form-input">
    <%= form_builder.label :price %>
    <%= form_builder.number_field :price, step: 0.01%><br>
</div>
<div class="form-input">
    <%= form_builder.label :category %>
    <%= form_builder.select :category, options_for_select([ "clothing", "accessories", "electronics", "groceries"]), include_blank: "Select a category"%>
</div>
<div class="form-input">
    <%= form_builder.label :brand_id %>
    <%= form_builder.collection_select :brand_id, Brand.all, :id, :name, prompt: true%>
</div>