<%= render partial: "errors", locals: {object: @product} %>

<div class="new-form">
    <header>
        <h2>Edit product</h2>
    </header>
    <%= form_with(model: @product) do |f| %>
        <%=  render partial: "form", locals: {form_builder: f, product: @product} %>
        <%=  render partial: "nested_brand", locals: {f: f, product: @product} %>
        <div class="form-button"><%= f.submit %></div>
    <% end %>
</div>