<% if @product.errors.any? %>
    <div class="error-explanations">
        <h2><%=pluralize(@product.errors.count, "Error") %> prevented the product from being created:</h2>
        <ul class="error-details">
            <% @product.errors.full_messages.each do |sentence| %>
                <li class="error-message"><%= sentence %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="new-form">
    <%= form_with(model: @product) do |f| %>
        <header>
            <h2>Edit product</h2>
        </header>
        <div class="form-input">
            <%= f.label :name %>
            <%= f.text_field :name%>
        </div>
        <div class="form-input">
            <%= f.label :availability %>
            <%= f.select :availability, options_for_select([ "true", "false"], selected: @product.availability), include_blank: "Select an availability"%>
        </div>
        <div class="form-input">
            <%= f.label :price %>
            <%= f.number_field :price, step: 0.01%><br></div>
            <div class="form-input">
                <%= f.label :category %>
                <%= f.select :category, options_for_select([ "clothing", "accessories", "electronics", "groceries"], selected: @product.category), include_blank: "Select a category"%>
            </div>
        <div class="form-input">
            <%= f.label :brand_id %>
            <%= f.collection_select :brand_id, Brand.all, :id, :name, prompt: true%>
        </div>
        <div class="form-button"><%= f.submit %></div>

    <% end %>
</div>