<!DOCTYPE html>
<html>
  <head>
    <title>ModelsAndRoutes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="navbar-list">
          <a class="navbar-link <%= active_css(root_path)%>" href="/">Home</a>
          <a class="navbar-link <%= active_css(brands_path)%>" href="/brands">Brands</a>
          <a class="navbar-link <%= active_css(products_path)%>" href="/products">Products</a>
          <a class="navbar-link <%= active_css(new_brand_path)%>" href="/brands/new">New Brand</a>
    </div>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  <footer class="site-footer">

    <div class="container">
      <div class="row">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by Piccinius.</p>
      </div>
    </div>
  </footer>
</html>
